@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
html {
  background: url("./bgpattern.jpg") repeat, rgba(60, 60, 80, 0.9);
  background-blend-mode: overlay;
  min-height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

/*
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  // filter: blur(1px);
  // -webkit-filter: blur(1px);
  // background: url('./DarkPurple.png') repeat, rgba(60, 60, 80, 100%);
  background: url('./bgpattern.jpg') repeat, rgba(60, 60, 80, 0.9);
  background-blend-mode: overlay;
  width: 100vw;
  height: 100vw;
}
*/
body {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

img {
  width: auto;
  max-width: 60vw;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #335;
}

nav {
  width: 100%;
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 20px;
}

.navbar {
  padding-left: calc(100vw - 100%);
}

#container {
  width: 100%;
  position: relative;
  z-index: 9999;
  display: flex;
  text-shadow: 1px 1px 2px #000;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-evenly; */
}

table caption {
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  text-shadow: rgba(255, 0, 30, 0.8) 2px 2px 4px;
}

table {
  background: linear-gradient(to bottom, #202050, #1d1d56);
  background-blend-mode: multiply;
  padding: 5px;
  margin: 25px;
  border-spacing: 5px;
}

/*
#taulu0 {
  order: 0;
}

#taulu3 {
  order: -1;
}

#taulu4 {
  order: -1;
}

#taulu1 {
  order: 4;
}

#taulu2 {
  order: 5;

}*/
table td {
  padding: 15px;
}

table thead td {
  background: #115;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.button.before {
  position: relative;
  border: 1px solid #8303df;
  border-radius: 50px;
  padding: 8px 16px;
  min-width: 8em;
  /* background-color: #0360df;*/
  background-color: #970079;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff, transparent), radial-gradient(75% 35% at 50% 85%, #d78dfc, transparent);
  /* box-shadow: inset 0 -2px 4px 1px rgba(17, 110, 231, .6), */
  box-shadow: inset 0 -2px 4px 1px rgba(153, 17, 231, 0.6), inset 0 -4px 4px 1px rgb(195, 141, 252), inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(185, 17, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  /* text-shadow: 0 1px 1px #116ee7;*/
  text-shadow: 0 1px 1px #b911e7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.2s;
}
.button.before::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  width: 80%;
  height: 40%;
  background-image: linear-gradient(to bottom, #f4feff, transparent);
  opacity: 0.75;
}
.button.before:hover {
  transform: scale(1.04);
}
.button.before:active {
  border-color: #0048d5;
  transform: scale(0.96);
  background-color: #0048d5;
}

.button.after {
  position: relative;
  z-index: 0;
  border: 1px solid #372187;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 8em;
  background-image: linear-gradient(180deg, #6f42ef, #5335ae 62%, #442aa2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "Roobert", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  transition-property: border-color, transform;
  transition-duration: 0.2s;
  will-change: transform;
}
@media (hover: hover) {
  .button.after:hover {
    transform: scale(1.04);
  }
}
.button.after:active {
  border-color: #6a2dda;
  transform: scale(0.98);
}
.button.after::before, .button.after::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 7px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
}
.button.after::before {
  background-image: linear-gradient(180deg, #580ace, #7640ff 38%, #7640ff);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), inset 0 -1px 0px rgba(0, 0, 0, 0.2);
}
@media (hover: hover) {
  .button.after:hover::before {
    opacity: 1;
  }
}
.button.after::after {
  background-image: linear-gradient(180deg, #580ace, #7640ff 38%, #7640ff);
  box-shadow: inset 0 1px 1px #520b95;
}
.button.after:active::after {
  opacity: 1;
}

.button-label {
  color: #c0c0d8;
}

/*# sourceMappingURL=mock_style.css.map */
